html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.15;
  font-family: "Nunito Sans", -apple-system, Segoe UI, sans-serif;
  font-weight: 300;
  background-color: hsl(0, 0%, 98%);
}

img {
  max-width: 100%;
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}
